.contacts-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: sans-serif;
}

.contacts-list__container-title {
  width: 94%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.contacts-list__title {
  font-size: 28px;
}

.contacts-list__container-line {
  width: 43%;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacts-list__line {
  width: 100%;
  height: 3px;
  background-color: #c1d72f;
  border: none;
}

.contact-list__list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contacts-list__pagination {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
}

.contacts-list__pagination-button {
  width: 100px;
  height: 35px;
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contacts-list__pagination-info {
  font-weight: 600;
}

@media (min-width: 375px) {
  .contacts-list__tittle {
    font-size: 30px;
  }
  .contacts-list__container-line {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .contacts-list__tittle {
    font-size: 32px;
  }
  .contacts-list__container-line {
    width: 67%;
  }
}

@media (min-width: 1024px) {
  .contacts-list__container-line {
    width: 80%;
  }
}
