.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__image {
  width: 200px;
}

.not-found__content {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.not-found__heading {
  font-size: 30px;
  text-align: center;
}

.not-found__link {
  color: #c1d72f;
  font-size: 18px;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .not-found__image {
    width: 300px;
  }
  .not-found__heading {
    font-size: 40px;
  }
  .not-found__link {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .not-found__image {
    width: 400px;
  }
  .not-found__heading {
    font-size: 50px;
  }
  .not-found__link {
    font-size: 20px;
  }
}
